<%- include('../includes/head.ejs')%>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom ">
        <div class="container">
            <a href="/" class="navbar-brand">myBook</a>
            <form action="/search" class="form-inline" method="POST">
                <input type="text" class="form-control mr-1 searchInput" name="searchText">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

  <%- include('../includes/end.ejs')%>